.super-mario {
    width: 200px;
    margin-left: 100px;
    position:   absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    margin-top: 300px;
    margin-left: 150px;
  }
  
  .baloon {
    position: absolute;
    margin-top: 150px;
    margin-left: 400px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    margin-top: 210px;
    margin-left: 420px;
    z-index: 1;

  }
  
  .bowser {
    width: 200px;
    position: absolute;
    margin-top: 300px;
    margin-left: 700px;
  }